* {
  margin: 0;
  padding: 0; 
}
a {
  text-decoration: none; 
}

nav li {
  text-decoration: none;
  list-style: none; 
}

nav {
  text-align: center;
  max-width: 100%;
  height: 50px; 
}

.topnav {
  position: relative;
  background-color: rgba(196, 196, 196, 0.466);
  font-size: 25px; 
  opacity: 0;
  max-width: 300px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.topnav > li {
  display: block;
  /* background-color: rgba(39, 37, 37, 0.829); */
  position: relative;
}
.topnav > li:hover {
  background-color: rgb(202, 202, 202);
}
.topnav li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  border-bottom: 2px solid transparent; 
}
.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0;
}
.menu--active {
  opacity: 1;
}
.submenu > li > a{
  background-color: rgba(196, 196, 196, 0.466);
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  border-bottom: 2px solid transparent; 
}
.submenu > li > a:hover {
  background-color: rgb(202, 202, 202);
}
.topnav li:hover .submenu {
  opacity: 1;
}
#btn {
  padding: 14px 16px;
  cursor: pointer;
}