* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: auto;
  text-align: center;
}
.items-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.item {
  border: 2px solid rgb(21, 80, 168);
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
}
.item * {
  padding-top: 5px;
}
img {
  width: 250px;
  height: 175px;
}
.input-container {
  display: flex;
  justify-content: space-around;
  padding: 14px 0;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(21, 80, 168);
}
input {
  width: 20%;
  height: 20px;
  border-radius: 6px;
  border: 1px solid transparent;
}
select {
  width: 20%;
  border-radius: 6px;
  border: 1px solid transparent;
}
option {
  height: 20px;
  border-radius: 6px;
  border: 1px solid transparent;
}