#hours, #minutes, #seconds {
  font-weight: bold; 
  color: #000;
}
fieldset {
  max-width: 20%;
  max-height: 25%;
  margin: auto;
  margin-top: 245px;
  border-radius: 3px;
  text-align: center;
  font-size: 35px;
  border: 3px solid rgb(18, 109, 14);
  color: rgb(18, 109, 14);
}

#dots1, #dots2 {
  margin: 0 5px 0;
  font-size: 38px;
  color: #000;
}